<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<div class="block">
    <form class="center" name="joinform" method="POST" th:action="@{/findpw}">
        <h4>아이디를 입력하세요</h4>
        <input type="text" name="username">
        <input type="submit" value="입력">
    </form>
</div>
</body>
</html>