.block {
    text-align: center;
    margin: 20px;
}
/* 정가운데 정렬을 위한 고스트 가상 요소 */

.block:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;

    /* 상황에 따라 간격 조정이 요구됨.*/
    margin-right: -0.25em;

    /* 가상 요소 확인용 (주석제거 후 확인) */
    /*background: #808080;width: 5px;*/
}
.center {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    padding: 10px 15px;
}
.form-sign {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-bottom: 1rem !important;
}
.form-group{
    margin-bottom: 5px;
}
.container{
    margin-top: auto;
    margin-bottom: auto;
}